*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.titre-principal{
    font-size: 70px;
    color: white;
    position: absolute;
    z-index: 1;
    left: 51%;
    transform: translate(-50%, -50%);
    top: 10%;
    text-transform: uppercase;
}










#box-gauche{
    background-color: #FF4351;
    width: 50%;
    height: 100vh;
    position: absolute;
}
.titre-gauche{
    text-align: center;
    margin-top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 50%;
    font-size: 60px;
    color: black;
    font-weight: bold;
}
#img1{
    width:80px;
    height: 80px;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 10%;
    animation: 2s linear 0s infinite gauche;
    border-radius: 50px;
    padding-left: 15px;
    padding-right: 15px;
}
@keyframes gauche {
  50% {
    margin-left: 45%;
  }

  100% {
    margin-left: 55%%;
  }
}
#img1:hover{
    background: #3F8FFF
}









#box-droit{
    background-color: #3F8FFF;
    height: 100vh;
    position: absolute;
    left: 50%;
    width: 50%
}
.titre-droit{
    text-align: center;
    margin-top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 50%;
    font-size: 60px;
    color: black;
    font-weight: bold;
}
#img2{
    width: 80px;
    height: 80px;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 10%;
    animation: 2s linear 0s infinite droite;
    border-radius: 50px;
    padding-left: 15px;
    padding-right: 15px;
}
@keyframes droite {
  50% {
    margin-left: 55%;
  }

  100% {
    margin-left: 45%%;
  }
}

#img2:hover{
    background: #FF4351;
}








#page2{
    background-color: #FF4351;
    height: 100vh;
}

